1) О excel-файлах:

- каждый файл имеет одинаковый формат организации и структуры данных:
Необходимая информация находится на первом листе.
Лист начинается с ячейки A1, первый столбец - 'url', второй столбец - 'label', третий столбец - 'fetch',
как в файлах-примерах ("url_label_fetch_1.xlsx", "url_label_fetch_2.xlsx").

2) Если файл БД по указанному в настройках пути существует - считаем, что таблицы там - нужной структуры.

3) В файле setting.py имеется возможность настраивать:
- timeout запроса                   | SETTING['timeout']
- количество потоков                | SETTING['number_threads']
- путь к файлу с дампом ошибок      | SETTING['path_to_error']
- путь к файлу логов                | SETTING['path_to_log']
- путь к файлу SQLite3              | SETTING['path_to_DB_SQLite3']

4) Python 3.6.5
xlrd                               1.1.0
requests                           2.19.1